@import "utils/variables";

.home {
  padding: 120px 0 60px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.result {
  font-weight: $semi-bold;
  line-height: $line-height;

  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid getColor("border-color");
}

.result__title {
  margin-right: 5px;
}
