@import "utils/variables";
@import "utils/mixin";

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $main-font, sans-serif;
  border-radius: $border-radius;
  overflow: hidden;
  @include semi-bordered();
  @include bordered();
  @include transition(transform);

  &:hover {
    transform: scale(1.03);
  }
}

.thumb {
  position: relative;
  padding: 0 0 60% 0;
  width: 100%;

  & img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.card__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px;
  height: 100%;
}

.card__contentBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__date {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;

  font-family: $main-font, sans-serif;
  font-size: $date-font-size;
  opacity: 0.6;
}

.card__title {
  flex-grow: 1;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: $main-font, sans-serif;
  font-size: $article-title-mobile-font-size;
  line-height: $title-line-height;
  font-weight: $bold;

  @media screen and (min-width: 768px) {
    font-size: $article-title-font-size;
    font-weight: $common;
  }
}

.card__description {
  height: 96px;
  font-family: $main-font, sans-serif;
}

.card__link {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  cursor: pointer;

  font-family: $main-font, sans-serif;
  font-weight: $bold;
  color: getColor("primary");
  @include transition("border-bottom");

  &::after {
    content: " ";
    opacity: 0;

    position: absolute;
    bottom: -3px;
    width: 130px;
    height: 3px;
    background-color: getColor("accent");

    @include transition("opacity");
  }

  &:hover::after {
    opacity: 1;
  }
}
