@import "../../utils/variables";

.navigationList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.navigationList__text {
  font-family: $main-font;
color: getColor("background");
}

.link {
  position: relative;
}

.link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: getColor('accent');
}