$main-font: "Montserrat";

$colors: (
  "primary": #363636,
  "accent": #d98328,
  "secondary": #575757,
  "background": #ffffff,
  "light-grey": #e5e5e5,
  "footer-background": #efefef,
  "border-color": #EAEAEA,
  "text": #000000,
);

$article-title-font-size: 24px;
$article-title-mobile-font-size: 20px;
$date-font-size: 14px;
$article-text-font-size: 18px;
$article-text-mobile-font-size: 16px;

$common-line-height: 1.5;
$title-line-height: 1.21;
$line-height: 1.25;

$common: 400;
$semi-bold: 600;
$bold: 700;

$border-radius: 5px;
$shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);

@function getColor($key) {
  @return map-get($colors, $key);
}
